<main class="main">
  <nav class="menu-bar">
    <div class="menu-item" #menuArchivo (click)="toggleMenuArchivo()">
      <button class="boton-menu" routerLink="/archivo" routerLinkActive="activo">Archivo</button>
      <div class="submenu" *ngIf="menuArchivoVisible">
        <a class="submenu-item" routerLink="/nuevo">Nuevo</a>
        <a class="submenu-item" routerLink="/abrir">Abrir</a>
        <a class="submenu-item" routerLink="/guardar">Guardar</a>
      </div>
    </div>
    <div>
      <button class="boton-menu" routerLink="/editor" routerLinkActive="activo">Editor</button>
    </div>
    <div>
      <button class="boton-menu" routerLink="/reportes" routerLinkActive="activo">Reportes</button>
    </div>
  </nav>

  <section class="contenido">
    <router-outlet></router-outlet>
  </section>
</main>