<div class="contenedor-editor">
    <!-- Panel lateral -->
    <div class="panel-lateral">
        <button>➕ Nuevo CMM</button> <!--(click)="abrirCarpeta()"-->
        <button>🗑️ Eliminar</button>
        <ul class="lista-archivos">
            <ng-container *ngFor="let archivo of estructuraArchivos">
                <ng-template [ngTemplateOutlet]="mostrarNodo"
                    [ngTemplateOutletContext]="{ nodo: archivo, nivel: 0 }"></ng-template>
            </ng-container>
        </ul>
        
        <ng-template #mostrarNodo let-nodo let-nivel="nivel">
            <li [class.cmm]="nodo.archivo" [style.paddingLeft.px]="nivel * 15"
                (click)="nodo.archivo && abrirArchivo(nodo.archivo)">
                {{ nodo.nombre }}
            </li>
        
            <ul *ngIf="nodo.hijos && nodo.hijos.length > 0" class="lista-archivos">
                <ng-container *ngFor="let hijo of nodo.hijos">
                    <ng-template [ngTemplateOutlet]="mostrarNodo"
                        [ngTemplateOutletContext]="{ nodo: hijo, nivel: nivel + 1 }"></ng-template>
                </ng-container>
            </ul>
        </ng-template>
    </div>

    <div class="numero-linea">
        <div *ngFor="let line of lineas; let i = index">{{i + 1}}</div>
    </div>
    <textarea class="editor-codigo" [(ngModel)]="texto" (input)="onInput()" (scroll)="sincronizarScroll($event)"
        (click)="actualizarPosicionCursor()" (keyup)="actualizarPosicionCursor()" (keydown)="manejarTabulador($event)" #editor>
    </textarea>
</div>

<div class="info-cursor">
    Linea: {{lineaCursor}}, Columna: {{columnaCursor}}
    <button class="compilar-btn" (click)="obtenerTexto()">Compilar</button>
</div>

<div class="consola">
    <h4>Consola</h4>
    <div class="salida-consola">
        {{ salidaConsola }}
    </div>
</div>